/* свойства CSS для элементов футера */


footer {
    margin-bottom: 0;
}
#footer_react {
    display: flex;
    justify-content: center;
    background-color: rgb(78, 76, 74);
    width: 100%;
    min-width: 650px;
    height: 250px;
    padding: 0 0;
    margin-bottom: 0;
    position: relative;
}
.footer_react_back {
    display: flex;
    justify-content: center;
    background-color: rgb(78, 76, 74);
    width: 100%;
    min-width: 650px;
    height: 250px;
    padding: 0 0;
    margin-bottom: 0;
    position: relative;
}
.f_logo {
    /* background-color: hotpink; */
    height: 100%;
    width: 150px;
    position: relative;


}
.f_logo_1, .f_logo_2 {
    display: flex;
    height: 94px;
    width: 34px;
    font-size: 100px;
    font-family: Snell Roundhand, cursive;
    color: white;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    left: 70px;
}
.f_logo_2 {
    left: 85px;
    top: 55px;
}
.foot {
    /* background-color: rgb(120, 170, 115); */
    /* border: 1px solid white; */
    height: 100%;
    width: 14%;
    min-width: 164px;
    max-width: 333px;
    margin: 0 0;
    padding: 0 0;
}
.f_piont, .f_list {
    /* background-color: tomato; */
    height: 30px;
    font-size: 25px;
    font-family: Snell Roundhand, cursive;
    text-align: center;
    color: white;   
    text-decoration: underline;
}
.f_list {
    margin-top: 10px;
    margin-bottom: 20px;
}
.f_point {
    /* background-color: grey; */
    font-size: 20px;
    text-align: center;
    font-family: Snell Roundhand, cursive;
    margin-top: 10px;
    color: white;
}
.f_point:hover {
    font-size: 22px;
    transition: 0.4s;
    cursor: pointer;
}